{% set pagetitle = "深圳荣新PCB" %} {% set pagenav = "about" %} {% extends "../inc/layout.html" %} {% block head %}
{% endblock %} {% block content %}
<link rel="stylesheet" href="public/css/about.css">
<div class="about">
	<div class="container">
		<div class="about-header">
			<h1>关于荣新PCB</h1>
			<div class="about-haeder-detail">
				{% for server in servers %}
				<img src="{{server.img}}" alt="">
				{% endfor %}  
				<div class="about-company-txt">
					<h3>公司介绍</h3>
					<!-- <p>深圳深圳荣新PCB，公司定位2－16层精密电路板样板及小批量为主要目标市场，自成立以来坚持以质量求生存，以速度求发展的理念。投入巨资引进先进设备，严格规范作业标准及进出料QC标准，保证出货产品达到精工品质，自主开发ERP管理系统可实现在线下单、在线支付货款、在线查询生产进度、在线物流跟踪、在线统计报表生产等全程无纸化作业，大大提高了工作效率，保障了每个订单都能快速出货，经过两年多的发展，公司产品与服务得到市场的一致好评，公司规模得到迅速发展，样板及小批量出货能力达到1000款/天，产品被广泛使用在通信，医疗器械，工控产品，航空，军工产品，测试仪器，汽车，计算机周边产品，电子消费品以及大专院校等科技领域。</p>
					<p>我们将持续关注客户价值，专注目标，务实做事，不断创新，以精工品质，高效的交货速度及完善的售后服务，打造成为PCB产业最值得信赖的品牌供应商。</p> -->
					{{words['about-company'] | safe}}
				</div>
			</div>
		</div>
		<div class="about-contact">
			<div class="about-contact-left">
				<h3>荣新PCB</h3>
				<!-- <p>
					是一家以高科技产业为主导的大型投资控股企业集团。公司创建于1979年，秉承“诚信、创新、和谐、共赢”的企业精神，经过三十多年的发展，形成了以高科技电子制造业、文化科技产业、电子专业市场、制糖造纸业为主导的多元化产业格局，同时实现了由生产经营为主向资产经营为主的转变。目前，公司在国内外拥有投资公司40多家和2家上市公司，并拥有6家高新技术企业、3个国家级的技术开发中心、1个博士后工作站。
				</p>
				<p>
					是一家以高科技产业为主导的大型投资控股企业集团。公司创建于1979年，秉承“诚信、创新、和谐、共赢”的企业精神，经过三十多年的发展，形成了以高科技电子制造业、文化科技产业、电子专业市场、制糖造纸业为主导的多元化产业格局，同时实现了由生产经营为主向资产经营为主的转变。目前，公司在国内外拥有投资公司40多家和2家上市公司，并拥有6家高新技术企业、3个国家级的技术开发中心、1个博士后工作站。
				</p>
				<p>
					是一家以高科技产业为主导的大型投资控股企业集团。公司创建于1979年，秉承“诚信、创新、和谐、共赢”的企业精神，经过三十多年的发展，形成了以高科技电子制造业、文化科技产业、电子专业市场、制糖造纸业为主导的多元化产业格局，同时实现了由生产经营为主向资产经营为主的转变。目前，公司在国内外拥有投资公司40多家和2家上市公司，并拥有6家高新技术企业、3个国家级的技术开发中心、1个博士后工作站。
				</p> -->
				{{words['about-rxpcb'] | safe}}
			</div>
			<div class="about-contact-right">
				<h3>联系我们</h3>
				<!-- <p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
				<p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
				<p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
				<p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
				<p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
				<p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
				<p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
				<p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
				<p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
				<p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p> -->
				{{words['contact'] | safe}}
			</div>
		</div>
	</div>
</div>
{% endblock %}