{% set pagetitle = "深圳荣新PCB" %} {% set pagenav = "home" %} {% extends "../inc/layout.html" %} {% block head %}
<style type="text/css">
    .M-count-price {
        background: url(/public/img/bg.jpg) no-repeat;
        background-size: cover;
    }
    
    .M-count-price .con {
        width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .M-count-price .con .count-form {
        width: 800px;
        background: #FFF;
        border: 3px solid #ea4246;
        border-radius: 3px;
        height: 400px;
        box-shadow: 0 0 10px #444;
    }
</style>
{% endblock %} {% block content %}
<div class="P-home">
    <div class="M-count-price">
        <div class="con">
            <div class="count-form">

            </div>
        </div>
    </div>
    <div class="M-product-list">

    </div>
    <div class="M-about">

    </div>
    <div class="M-contact">

    </div>
</div>
{% endblock %}