{% set pagetitle = "深圳荣新PCB" %} {% set pagenav = "home" %}{% set phone = word %} {% extends "../inc/layout.html" %} {% block head %}
<style type="text/css">
    .M-count-price {
        background: url(/public/img/bg.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    .M-count-price .con {
        width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .M-count-price .con .count-form {
       
        height: 400px;
       
    }
</style>
{% block nav %}


 {% endblock %}
{% endblock %} {% block content %}
<link rel="stylesheet" href="public/css/home.css">


<!-- {{locals.contact}} -->
<div  v-cloak class="P-home">
    <div class="M-count-price clearfix">
        <div class="con">
            <div class="count-form">
                <form :action="url">
                    <div class="home_count">
                        <div class="items-list">
                            <h3>单片大小：</h3>  
                            <div class="items-btn">
                                <div class="">
                                    <div class="input-box">
                                        <input type="text" onkeyup="this.value=this.value.replace(/[^0-9]+/,'');" v-model.number="width" name="width" placeholder="长" id="width">
                                        <div class="cm">cm</div>
                                    </div>
                                    <div class="icon-x">X</div>
                                    <div class="input-box">
                                        <input type="text" onkeyup="this.value=this.value.replace(/[^0-9]+/,'');" v-model.number="height" name="height" placeholder="宽" id="height">
                                        <div class="cm">cm</div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <div class="items-list i-width">
                            <h3>板子层数：</h3>
                            <div class="items-btn">
                                <div class="items-btn-wrap">
                                    <span class="btn-txt">${ layer }</span>
                                    <span class="btn-icon"></span>
                                    <input type="hidden" name="layer" :value="layer ">
                                </div>
                                <div class="choose-menu">
                                    <ul data-key="layer">
                                        <li data="1">1</li>
                                        <li data="2">2</li>
                                        <li data="4">4</li>
                                        <li data="6">6</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="items-list">
                            <h3>
                                <span>单片数量：</span>
                            </h3>
                            <div class="items-btn counts">
                                <div class="items-btn-wrap">
                                    <span class="btn-txt">${ counts }</span>
                                    <span class="btn-icon"></span>
                                    <input type="hidden" name="counts" :value="counts ">
                                </div>
                                <div class="choose-menu">
                                    <ul data-key="counts">
                                        <li data="5">5</li>
                                        <li data="10">10</li>
                                        <li data="15">15</li>
                                        <li data="20">20</li>
                                        <li data="25">25</li>
                                        <li data="30">30</li>
                                        <li data="40">40</li>
                                        <li data="50">50</li>
                                        <li data="60">60</li>
                                        <li data="80">80</li>
                                        <li data="100">100</li>
                                        <li data="120">120</li>
                                        <li data="150">150</li>
                                        <li data="200">200</li>
                                        <li data="250">250</li>
                                        <li data="300">300</li>
                                        <li data="350">350</li>
                                        <li data="400">400</li>
                                        <li data="450">450</li>
                                        <li data="500">500</li>
                                        <li data="600">600</li>
                                        <li data="700">700</li>
                                        <li data="800">800</li>
                                        <li data="900">900</li>
                                        <li data="1000">1000</li>
                                        <li data="1500">1500</li>
                                        <li data="2000">2000</li>
                                        <li data="2500">2500</li>
                                        <li data="3000">3000</li>
                                        <li data="3500">3500</li>
                                        <li data="4000">4000</li>
                                        <li data="4500">4500</li>
                                        <li data="5000">5000</li>
                                        <li data="5500">5500</li>
                                        <li data="6000">6000</li>
                                        <li data="6500">6500</li>
                                        <li data="7000">7000</li>
                                        <li data="7500">7500</li>
                                        <li data="8000">8000</li>
                                        <li data="8500">8500</li>
                                        <li data="9000">9000</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="items-list i-width">
                        <h3>板子厚度：</h3>
                            <div class="items-btn">
                                <div class="items-btn-wrap">
                                    <span class="btn-txt">${thick}</span>
                                    <span class="btn-icon"></span>
                                    <input type="hidden" name="thick" :value="thick">
                                </div>
                                <div class="choose-menu">
                                    <ul data-key="thick">
                                        <li data="0.4">0.4</li>
                                        <li data="0.6">0.6</li>
                                        <li data="0.8">0.8</li>
                                        <li data="1.0">1.0</li>
                                        <li data="1.2">1.2</li>
                                        <li data="1.6">1.6</li>
                                        <li data="2.0">2.0</li>
                                        <li data="2.0">2.5</li>
                                        <li data="2.0">3.0</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <button class="submit-count-price">计算价格</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="count-list clearfix">
        <div class="container">
            <ul>
                <li>
                    <div class="count-list-top">
                        <img src="/public/img/1layer.png" alt="">
                        <div>
                            <h3>单面板</h3>
                            <p>1层，板厚1.6mm，铜厚1oz，阻焊绿色</p>
                        </div>
                    </div>
                    <div class="count-list-bot">
                        <div>
                            <p><i>￥</i><span>88</span>/10片</p>
                            <a href="/count?width=10&height=10&layer=1&counts=10&thick=1.6">打样</a>
                        </div>
                        <div>
                            <p><i>￥</i><span>760</span>/ 2㎡</p>
                            <a href="/count?width=10&height=10&layer=1&counts=200&thick=1.6">批量</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="count-list-top">
                        <img src="/public/img/1layer.png" alt="">
                        <div>
                            <h3>双面板</h3>
                            <p>2层，板厚1.6mm，铜厚1oz，阻焊绿色</p>
                        </div>
                    </div>
                    <div class="count-list-bot">
                        <div>
                            <p><i>￥</i><span>100</span>/10片</p>
                            <a href="/count?width=10&height=10&layer=2&counts=10&thick=1.6">打样</a>
                        </div>
                        <div>
                            <p><i>￥</i><span>760</span>/ 2㎡</p>
                            <a href="/count?width=10&height=10&layer=2&counts=200&thick=1.6">批量</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="count-list-top">
                        <img src="/public/img/1layer.png" alt="">
                        <div>
                            <h3>四层板</h3>
                            <p>4层，板厚1.6mm，铜厚1oz，阻焊绿色</p>
                        </div>
                    </div>
                    <div class="count-list-bot">
                        <div>
                            <p><i>￥</i><span>280</span>/10片</p>
                            <a href="/count?width=10&height=10&layer=4&counts=10&thick=1.6">打样</a>
                        </div>
                        <div>
                            <p><i>￥</i><span>1500</span>/ 2㎡</p>
                            <a href="/count?width=10&height=10&layer=4&counts=200&thick=1.6">批量</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="count-list-top">
                        <img src="/public/img/1layer.png" alt="">
                        <div>
                            <h3>六层板</h3>
                            <p>6层，板厚1.6mm，铜厚1oz，阻焊绿色</p>
                        </div>
                    </div>
                    <div class="count-list-bot">
                        <div>
                            <p><i>￥</i><span>920</span>/10片</p>
                            <a href="/count?width=10&height=10&layer=6&counts=10&thick=1.6">打样</a>
                        </div>
                        <div>
                            <p><i>￥</i><span>2300</span>/ 2㎡</p>
                            <a href="/count?width=10&height=10&layer=6&counts=200&thick=1.6">批量</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="M-product-list clearfix">
       <div class="container">
            <div class="hot-title">
               <i></i>
               <span>热门产品</span>
           </div>
           <ul>
            {% for product in products %}
              <li title="{{product.title}}">
                  <img src="{{product.img}}" alt="{{product.title}}">
               <p>{{product.title}}</p>
              </li> 
            {% endfor %}   
               <li class="more-product">
                   <a href="/products">更多产品 >></a>
               </li>
           </ul>
       </div>
    </div>
    <div class="order_list clearfix">
        <div class="container">
            <div class="order-title">
               <i></i>
               <span>PCB订单记录</span>
           </div>
           <div class="ivu-table-wrapper clearfix">
                <div class="ivu-table"> 
                    <div class="ivu-table-header">
                        <table cellspacing="0" cellpadding="0" border="0" style="width: 1200px;">
                            <colgroup>
                                <col width="" />
                                <col width="" />
                                <col width="" />
                                <col width="" />
                                <col width="" />
                                <col width="" />
                                <col width="" />
                            </colgroup> 
                            <thead>
                                <tr>
                                    <th class="">
                                        <div class="ivu-table-cell">
                                            <span>客户</span> 
                                        </div>
                                    </th>
                                    <th class="">
                                        <div class="ivu-table-cell">
                                            <span>下单时间</span> 
                                        </div>
                                    </th>
                                    <th class="">
                                        <div class="ivu-table-cell">
                                            <span>地区</span> 
                                        </div>
                                    </th>
                                    <th class="">
                                        <div class="ivu-table-cell">
                                            <span>数量</span> 
                                        </div>
                                    </th>
                                    <th class="">
                                        <div class="ivu-table-cell">
                                            <span>层数</span> 
                                        </div>
                                    </th>
                                    <th class="">
                                        <div class="ivu-table-cell">
                                            <span>板子尺寸</span> 
                                        </div>
                                    </th>
                                    <th class="">
                                        <div class="ivu-table-cell">
                                            <span>金额</span> 
                                        </div>
                                    </th>
                                    <th class="">
                                        <div class="ivu-table-cell">
                                            <span>状态</span> 
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div> 
                    <div class="ivu-table-body">
                        <table cellspacing="0" cellpadding="0" border="0" style="width: 1200px;">
                            <colgroup>
                                <col width="" />
                                <col width="" />
                                <col width="" />
                                <col width="" />
                                <col width="" />
                                <col width="" />
                                <col width="" />
                            </colgroup> 
                            <tbody class="ivu-table-tbody">
                               {% for orderList in orderLists %}
                                <tr class="ivu-table-row">
                                    <td class="">
                                        <div class="ivu-table-cell acceptName">
                                            <span>{{orderList.acceptName}}</span> 
                                        </div>
                                    </td>
                                    <td class="">
                                        <div class="ivu-table-cell">
                                            <span>{{orderList.orderTime}}</span> 
                                        </div>
                                    </td>
                                    <td class="">
                                        <div class="ivu-table-cell detailAddress">
                                            <span>{{orderList.detailAddress }}</span> 
                                        </div>
                                    </td>
                                    <td class="">
                                        <div class="ivu-table-cell">
                                           <span>{{orderList.counts}}</span>
                                        </div>
                                    </td>
                                     <td class="">
                                        <div class="ivu-table-cell">
                                           <span>{{orderList.layer}}</span>
                                        </div>
                                    </td>
                                    <td class="">
                                        <div class="ivu-table-cell red">
                                             <span>{{orderList.width}}*{{orderList.height}} cm</span>
                                        </div>
                                    </td>
                                    <td class="">
                                        <div class="ivu-table-cell">
                                            <span>{{orderList.totalFee}}</span>
                                        </div>
                                    </td>
                                    <td class="">
                                        <div class="ivu-table-cell">
                                        {% if orderList.orderStatus == 3 %}
                                            <div class="fail">
                                                <i class="ivu-icon ivu-icon-close-circled"></i><span>客户取消</span>
                                            </div>
                                        {% elseif orderList.checkStatus == 0 %}
                                            <div class="fail">
                                                <i class="ivu-icon ivu-icon-help-circled"></i><span>待审核</span>
                                            </div>
                                        {% elseif orderList.checkStatus == 1 %}
                                            <div class="success">
                                                <i class="ivu-icon ivu-icon-checkmark-circled"></i><span>审核通过</span>
                                            </div>
                                        {% elseif orderList.checkStatus == 2 %}
                                            <div class="fail">
                                                <i class="ivu-icon ivu-icon-close-circled"></i><span>审核不通过</span> 
                                            </div>
                                        {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="M-adv clearfix">
        <div class="container">
            <h3>
                <i></i>
                <span>我们的优势</span>
            </h3>
            <ul>
                <li>
                    <img src="public/img/price.png" alt="">
                    <p>价格优惠，厂家直销</p>
                </li>
                <li>
                    <img src="public/img/quality.png" alt="">
                    <p>淘宝销量冠军</p>
                    <p>大平台保证</p>
                </li>
                <li>
                    <img class="img-w" src="public/img/sale.png" alt="">
                    <p>售后服务优质，全天接待</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="M-about clearfix">
        <div class="container">
            <div class="hot-title about-title">
               <i></i>
               <span>关于我们</span>
            </div>
            <div class="about-left">
                <h3>工厂实拍</h3>
                <ul>
                    {% for factory in factorys %}
                      <li title="{{factory.title}}">
                          <img src="{{factory.img}}" alt="{{factory.title}}">
                       <p>{{factory.title}}</p>
                      </li> 
                    {% endfor %}
                    
                </ul>
            </div>
            <div class="about-right">
                <h3>客服团队</h3>
                 <ul>
                    {% for server in servers %}
                      <li title="{{server.title}}">
                          <img src="{{server.img}}" alt="{{server.title}}">
                       <p>{{server.title}}</p>
                      </li> 
                    {% endfor %}
                </ul>
                <div class="about-txt">
                    {{words['home-server']}}
                </div>
            </div>
        </div>
    </div>
   
</div>
<script src="public/js/jquery.min.js"></script>
<script src="public/js/vue.js"></script>
<script src="public/js/home.js"></script>
{% endblock %}