{% set pagetitle = "深圳荣新PCB" %} {% set pagenav = "" %} {% extends "../inc/layout.html" %} {% block head %}
{% endblock %} {% block content %}
<style>
	
</style>
<link rel="stylesheet" href="public/css/order.css">
<div class="P-order">
	<div class="container">
		<h1>订单详情</h1>
		<div class="wrap">
			<div class="left">
				<div class="wrap-left">
					<div class="accept fl">
						<h3><i class="ivu-icon ivu-icon-ios-clock-outline icon"></i>下单时间</h3>
						{{orderList.orderTime}}
					</div>
					<div class="accept fl">
						<h3><i class="ivu-icon ivu-icon-ios-home-outline icon"></i>收货信息</h3>
						{{orderList.address | safe}}
						<ul>
							{% for addressList in addressLists %}

				            {% if addressList.isDefault == '1' %}
							<li class="isDefault selected">
							{% else %}
							  <li>
							{% endif %}
				                 <div class="address">
									<span>{{addressList.address}} </span>（<span>{{addressList.acceptName}}收</span>）
								</div>
								<div class="detailAddress">{{addressList.detailAddress}}</div>
								<div class="phone">{{addressList.phone}}</div>
								{% if addressList.isDefault == '1' %}
								  
								<div class="default">[默认]</div>
								{% endif %}
								
				            </li> 
				            {% endfor %}   
						</ul>
					</div>
					<div class="express fl">
						<h3><i class="ivu-icon ivu-icon-ios-location-outline icon"></i>快递信息</h3>
						<label class="ivu-radio-wrapper ivu-radio-wrapper-checked">
							<span class="ivu-radio ivu-radio-checked">
								<span class="ivu-radio-inner"></span> 
								<input type="radio" class="ivu-radio-input" name="express" value="速尔快递">
							</span>
							{{orderList.express}}
						</label>
					</div>
					
					<div class="inovice fl">
						<h3><i class="ivu-icon ivu-icon-ios-list-outline icon"></i>发票信息</h3>
						<label class="ivu-radio-wrapper ivu-radio-wrapper-checked">
							<span class="ivu-radio  ivu-radio-checked">
								<span class="ivu-radio-inner"></span> 
								<input type="radio" class="ivu-radio-input" name="invoice" value="需要发票">
							</span>
							{{orderList.invoice}}
						</label>
					</div>
					<div class="pcbFile fl">
						<h3><i class="ivu-icon ivu-icon-ios-folder-outline icon"></i>已上传的pcb文件</h3>
						<div class="ivu-upload">
							<div class="ivu-upload ivu-upload-select">
								<a href="/public/images/pcbFile/{{orderList.pcbFile}}">
									<button type="button" class="ivu-btn ivu-btn-ghost"><i class="ivu-icon ivu-icon-ios-cloud-upload-outline"></i> 
									<span>下载上传的文件</span>
									</button>
								</a>
							</div>
						</div>
					</div>
					<div class="pcbFile fl bd">
						<h3><i class="ivu-icon ivu-icon-ios-paper-outline icon"></i>下单备注</h3>
						{{orderList.orderPs}}
					</div>
					<div class="checkResult fl bd">
						<h3><i class="ivu-icon ivu-icon-ios-gear-outline icon"></i>审核结果</h3>
						{% if orderList.checkStatus == 0 %}
						<div class="resultFail">
							<i class="ivu-icon ivu-icon-help-circled"></i><span>等待审核</span>
						</div>
						{% elseif orderList.checkStatus == 2 %}
						<div class="resultFail">
							<i class="ivu-icon ivu-icon-close-circled"></i><span>审核不通过</span>
						</div>
						<p>
							原因：{{orderList.checkPs}}
						</p>
						{% elseif orderList.checkStatus == 1 %}
						<div class="resultSuccess">
							<i class="ivu-icon ivu-icon-checkmark-circled"></i><span>审核通过</span>
						</div>
						<p>
							审核详情：{{orderList.checkPs}}
						</p>
						{% endif %}
					</div>
					<div class="checkResult fl bd">
						<h3><i class="ivu-icon ivu-icon-ios-flask-outline icon"></i>生产信息</h3>
						{% if orderList.productStatus == 0 %}
						<div class="resultFail">
							<i class="ivu-icon ivu-icon-help-circled"></i><span>未生产</span>
						</div>
						{% elseif orderList.productStatus == 1 %}
						<div class="resultSuccess">
							<i class="ivu-icon ivu-icon-checkmark-circled"></i><span>正在生产</span>
						</div>
						{% endif %}
					</div>
					<div class="checkResult fl bd">
						<h3><i class="ivu-icon ivu-icon-ios-paperplane-outline icon1"></i>发货信息</h3>
						{% if orderList.productStatus == 0 %}
						<div class="resultFail">
							<i class="ivu-icon ivu-icon-help-circled"></i><span>未发货</span>
						</div>
						{% elseif orderList.productStatus == 1 %}
						<div class="resultSuccess">
							<i class="ivu-icon ivu-icon-checkmark-circled"></i><span>已发货</span>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="fee">
					<ul>
						<li>
							工程费：<span>￥{{orderList.gcFee}}</span>
						</li>
						<li>
							板材费：<span>￥{{orderList.bcFee}}</span>
						</li>
						<li>
							特殊板厚：<span>￥{{orderList.thickExtra}}</span>
						</li>
						<li>
							铜厚费：<span>￥{{orderList.copperFee}}</span>
						</li>
						<li>
							喷镀费：<span>￥{{orderList.sprayFee}}</span>
						</li>
						<li>
							颜色费：<span>￥{{orderList.colorFee}}</span>
						</li>
						<li>
							测试费：<span>￥{{orderList.testFee}}</span>
						</li>
						<li>
							加急费：<span>￥{{orderList.urgentFee}}</span>
						</li>
					</ul>
					<h4>应付总额：<i>￥</i><span>{{orderList.totalFee}}</span></h4>
					{% if orderList.checkStatus == 1 %}
					<button class="btn pay">支付订单</button>
					{% else %}
					<button class="btn disabled">支付订单</button>
					{% endif %}
					{% if orderList.checkStatus == 0 %}
					<button class="btn cancel">取消订单</button>
					<a href="/order?orderId={{orderList.id}}"><button class="btn">返回修改订单</button></a>
					{% else %}
					<button class="btn disabled">取消订单</button>
					<button class="btn disabled">返回修改订单</button>
					{% endif %}
				</div> 
			</div>
			<div class="wrap-right">
				<h3>生产信息</h3>
				<ul>
					<li title="{{orderList.layer}}">
						<div class="pd-name">板子层数</div>
						<div class="pd-val">{{orderList.layer}}</div>
					</li>
					<li title="{{orderList.pattern}}">
						<div class="pd-name">出货形式</div>
						<div class="pd-val">{{orderList.pattern}}</div>
					</li>
					<li title="{{orderList.width}} * {{orderList.height}} cm">
						<div class="pd-name">单片大小</div>
						<div class="pd-val">{{orderList.width}} * {{orderList.height}} cm</div>
					</li>
					<li title="{{orderList.border}}">
						<div class="pd-name">工艺边框</div>
						<div class="pd-val">{{orderList.border}}</div>
					</li>
					<li title="{{orderList.borderStyle}}">
						<div class="pd-name">边框大小</div>
						<div class="pd-val">{{orderList.borderStyle}}</div>
					</li>
					{% if orderList.pbWidth > 0 %}
					<li title="{{orderList.pbWidth}}">
						<div class="pd-name">拼版宽度</div>
						<div class="pd-val">{{orderList.pbWidth}}</div>
					</li>
					<li title="{{orderList.pbWidth}}">
						<div class="pd-name">拼版高度</div>
						<div class="pd-val">{{orderList.pbWidth}}</div>
					</li>
					{% endif %}
					<li title="{{orderList.counts}}">
						<div class="pd-name">单片数量</div>
						<div class="pd-val">{{orderList.counts}}</div>
					</li>
					<li title="{{orderList.thick}}">
						<div class="pd-name">板子厚度</div>
						<div class="pd-val">{{orderList.thick}}</div>
					</li>
					<li title="{{orderList.spray}}">
						<div class="pd-name">焊盘喷镀</div>
						<div class="pd-val">{{orderList.spray}}</div>
					</li>
					<li title="{{orderList.cover}}">
						<div class="pd-name">阻焊覆盖</div>
						<div class="pd-val">{{orderList.cover}}</div>
					</li>
					<li title="{{orderList.color}}">
						<div class="pd-name">阻焊颜色</div>
						<div class="pd-val">{{orderList.color}}</div>
					</li>
					<li title="{{orderList.copper}}">
						<div class="pd-name">外层铜厚</div>
						<div class="pd-val">{{orderList.copper}}</div>
					</li>
					<li title="{{orderList.lineweight}}">
						<div class="pd-name">最小线宽/距</div>
						<div class="pd-val">{{orderList.lineweight}}</div>
					</li>
					<li title="{{orderList.hole}}">
						<div class="pd-name">最小过孔</div>
						<div class="pd-val">{{orderList.hole}}</div>
					</li>
					<li title="{{orderList.test}}">
						<div class="pd-name">测试</div>
						<div class="pd-val">{{orderList.test}}</div>
					</li>
					<li title="{{orderList.urgent}}">
						<div class="pd-name">加急</div>
						<div class="pd-val">{{orderList.urgent}}</div>
					</li>
					<li title="{{orderList.delivery}}">
						<div class="pd-name">发货时间</div>
						<div class="pd-val">{{orderList.delivery}}</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script src="public/js/jquery.min.js"></script>
<script src="public/js/vue.js"></script>
<script>
	var csrf = '{{ ctx.csrf }}';
</script>
<script src="public/js/order.js"></script>
<script>
$(function(){
	$('.cancel').click(function(){
		$.post('/account/cancelOrder?_csrf={{ ctx.csrf }}',{
			id: {{orderList.id}}
		},function(res){
			if (res == 'success') {
				alert('取消成功')
				window.location.href = '/account/order'
			}
		})
	})
})
</script>
{% endblock %}