
<!DOCTYPE html> 
<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<meta name=viewport content="width=device-width,initial-scale=1"> 
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<title>好嘉好装饰工程有限公司</title> 
<meta name="keywords" content="好嘉好装饰工程有限公司"/>
<meta name="description" content="好嘉好装饰工程有限公司、装修、南昌"/>
<link href="/public/haojiahao/bootstrap.min.css" rel="stylesheet"> 
<link href="/public/haojiahao/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/public/haojiahao/font-awesome.min.css" rel="stylesheet"> 
<link href="/public/haojiahao/front_common.css" rel="stylesheet"> 
<link href="/public/haojiahao/a1.css" rel="stylesheet"> 
<link href="/public/haojiahao/a2.css" rel="stylesheet"> 

<script type="text/javascript" src="/public/haojiahao/jquery.min.js"></script>
<script type="text/javascript" src="/public/haojiahao/bootstrap.min.js"></script> 
  <!--[if lt IE 9]>
      <script src="/public/haojiahao/html5shiv.min.js"></script>
      <script src="/public/haojiahao/respond.min.js"></script>
    <![endif]--> 
 <!-- Navbar --> 
<BODY>
<DIV class="navbar navbar-fixed-top">   
<DIV class="navbar-inner">
<DIV class="container">
<A class="btn btn-navbar" style="padding: 3px 10px; color: rgb(0, 0, 0);" data-target=".nav-collapse" data-toggle="collapse">导航栏</A><SPAN></SPAN>
<A name="top" class="brand text_bnb_strong bnb_middle" href="/" style="line-height:20px">好嘉好装饰</A>
<DIV class="nav-collapse collapse">
<UL class="nav pull-left" style="margin-right: 0px;">
  <LI class="divider-vertical"></LI>
  <LI class="dropdown"><A class="text_bnb_strong" href="/">首页</A></LI>
  <LI class="divider-vertical"></LI>
  <LI class="dropdown"><A class="text_bnb_strong" href="/home/yewu">业务范围</A></LI>
  <LI class="divider-vertical"></LI>
  <LI class="dropdown"><A class="text_bnb_strong" href="/home/lianxi">联系我们</A></LI>
  <LI class="divider-vertical"></LI>
</UL>
<UL class="nav pull-right" id="destoon_member"></UL>
</DIV></DIV></DIV></DIV>
<div class="banner" style="background:url(/public/haojiahao/aa.png) no-repeat;height:250px;width:100%;background-size:cover;">
        
</div>
<div class=container> 
    <div class="nav-b" style="padding: 20px 0;">
        <a href="/">首页</a>
        <span style="padding:0 10px;">|</span>
        业务范围
    </div>
<div class=row style="height: 400px;"> 
    <div class="col-xs-6">
        <img src="/public/haojiahao/bb.jpg" style="padding: 5px; border:2px solid #CCC;"/>
    </div>
    <div class="col-xs-6">
        <p>南昌好嘉好装饰工程有限公司</p>
        <p>室内外装饰工程、幕墙工程设计、施工；防水工程、园林绿化工程施工；暖通设备销售、安装；水电设施安装；保洁服务；建筑材料销售；
            工程技术咨询。（依法须经批准的项目，经相关部门批准后方可开展经营活动）
        </p>
    </div>
</div> 
</div> 


<!-- Footer --> 
<div id="footer"> 
<div class="container"> 
<div class="row-fluid"> 
<p style="text-align:center;color:#FFF;font-size: 30px;">诚信立足，创新至远</p>
</div> 
</div> </div> 
<div class="footer0"> 
<div class="container"> 

<div class="copy0">
 ©2017 好嘉好 All Rights Reserved 赣ICP备15008460号
 </div> 
 </div>
  </div>  
  

</body>
</html> 
