.container{
    width: 1200px;
    margin: 0 auto;
}
.C-header {
    height: 80px;
}

.C-header .logo {
    color: #ea4246;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;    
    float: left;
}
.C-header .logo a{
     color: #ea4246;
}
.C-header .signin {
    float: right;
    line-height: 44px;
    height: 44px;
    margin-top: 15px;
}
.C-header .signin .item{
    padding: 0 9px;
    color: #00a2ca;
    font-size: 14px;
}
.C-header .signin .count{
    display: inline-block;
    margin-left: 15px;
    padding: 0 27px 0 29px;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    background: #de533c;
    letter-spacing: 2px;
}
.C-nav {
    height: 60px;
    background: #222222;
}

.C-nav .nav-list {
    width: 1200px;
    margin: 0 auto;
}

.C-nav .nav-list li {
    float: left;
    margin-right: ;: 10px;
}

.C-nav .nav-list li a {
    display: block;
    color: #FFF;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    font-size: 14px;
}

.C-nav .nav-list li a.active {
    background: #ea4246;
}
.C-nav .nav-list li:hover{
     background: #ea4246;
}
.clearfix:after{
    content: '';
    clear:both;
    display: table;
}

/*底部*/
.M-contact{
       padding: 40px 0 25px;
    margin-top: 40px;
    background: #212121;
    overflow: hidden;
}
.M-contact .container{
    width: 1000px
}
.contact-left{
    float: left;
}
.contact-left .phone i{
    display: block;
    height: 32px;
    width: 32px;
    overflow: hidden;
    background: url(../img/sprite.png) -96px -0px no-repeat;
    vertical-align: bottom;
    float: left;
}
.contact-left .phone div{
    float: left;
    margin-left: 20px;
    font-size: 16px;
    color: #fff
}   
.contact-left .phone div h3{
    font-weight: bold;

}
.contact-left-bot{
    margin-top: 100px;
    font-size: 14px;
    color:  #7b7b7b 
}
.contact-left-bot p + p{
    margin-top: 10px;
}
.contact-right{
    float: left;
    margin-left: 150px;
    width: 660px
}
.contact-right-wrap h3{
    color: #fff;
}
.contact-right-wrap{
    float: left;
    color: #7b7b7b;
}
.contact-right .contact-erm{
    float: left;
    position: relative;
}
.contact-right .contact-erm:after{
    content: '';
    height: 280px;
    width: 1px;
    background: #444141;
    position: absolute;
    left: -60px;
    top: 0;
}
.contact-right .contact-erm:before{
    content: '';
    height: 200px;
    width: 1px;
    background: #444141;
    position: absolute;
    right: -60px;
    top: 0;
}
.contact-right .contact-erm img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
}
.contact-right .contact-location{
    float: left;
    /*height: 240px;*/
    margin-left: 120px;
}
.contact-right .contact-location p{
    font-size: 14px;
}
.contact-right .contact-location p + p{
    margin-top: 5px;
}
.copyright{
    margin-top: 30px;
    float: left;
    font-size: 14px;
    color:  #7b7b7b
}

/*个人中心导航*/
.account-nav {
    float: left;
    width: 180px;
    margin-right: 20px;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    padding: 13px 0 15px;
    margin-top: 30px;
}
.account-nav .menu+.menu{
    margin-top: 15px;
}
.account-nav .menu h2{
    font-size: 15px;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
    text-indent: 17px;
}
.account-nav .menu a{
    display: block;
    margin: 1px 0;
    height: 28px;
    line-height: 28px;
    text-indent: 21px;
    color: #666;
    border-left: 2px solid #fff;
}
.account-nav .menu a.active{
     color: #ea4246;
    background: #f6f6f6;
    border-left: 2px solid #de533c;
}
.account-nav .menu a:hover{
    color: #ea4246;
    background: #f6f6f6;
    border-left: 2px solid #de533c;

}
.account-nav .menu a i{
    color: #bbb;
    margin-right: 3px;
}