.C-header {
    height: 80px;
}

.C-header .logo {
    color: #ea4246;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
}

.C-nav {
    height: 60px;
    background: #222222;
}

.C-nav .nav-list {
    width: 1200px;
    margin: 0 auto;
}

.C-nav .nav-list li {
    float: left;
    margin-right: 10px;
}

.C-nav .nav-list li a {
    display: block;
    color: #FFF;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    font-size: 14px;
}

.C-nav .nav-list li a.active {
    background: #ea4246;
}