<div class="clearfix"></div>
<div class="C-footer">
	 <div class="M-contact">
        <div class="container">
            <div class="contact-left">
                <div class="phone">
                    <i></i>
                    <div>
                        <p>售前咨询热线</p>
                        <h3>98187转1</h3>
                    </div>
                </div>
                <div class="contact-left-bot">
                    <p>专业技术咨询</p>
                    <p>全方位产品解读</p>
                    <p>成熟解决方案</p>
                    <p>成功客户案例分享</p>
                </div>
            </div>
            <div class="contact-right">
                <div class="contact-right-wrap">
                    <div class="contact-erm">
                        <h3>微信公众号</h3>
                        <img src="public/img/2.jpg" alt="">
                    </div>
                    <div class="contact-location">
                        <p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
                        <p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
                        <p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
                        <p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
                        <p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
                        <p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
                        <p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
                        <p>公司地址：广东省福田区梅芳路1-1号华强云产业园3栋301</p>
                    </div>
                </div>
                <div class="copyright">
                    <p>Copyright ©2012-2017 hqpcb.com.All Rights Reserved 粤ICP备17077613号 </p>
                    <p>工商网监认证</p>
                </div>
            </div>
        </div>
    </div>	
</div>
